body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;

}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.error-message {
    background-color: rgba(255, 0, 0, 0.551);
    border-radius: 5px;
    padding: 0.75rem;
}

.header {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);

}

.auth-btn {
    background: white;
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;

}


.logout-btn {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;    
}

.post-list {
    display: grid;
    gap: 1.5rem;
}

.post-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10;
}

.form-container {
    max-width: 900px;
}

.form-container div {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}

.btn {
    background: greenyellow;
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}